<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="JazzTeamTest" packages="by.jazzteam.numbertotext">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/JazzTeamTest.log"
                     filePattern="logs/$${date:yyyy-MM}/JazzTeamTest-%d{dd-MM-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss} %-5p %c{1} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!--all, trace, debug, info, warn, error, fatal-->
        <Logger name="by.jazzteam.numbertotext" level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>